# Basic Operators - Arithmetics

In [1]:
# you can perform addition, multiple, substration and division

8+5 #addition

13

In [2]:
15-23 #sub

-8

In [3]:
85*3  #multipli

255

In [4]:
6**6   # power

46656

In [5]:
5**2

25

In [6]:
81**0.5 #square root

9.0

In [7]:
18 >16

True

In [8]:
3 < 2

False

In [9]:
# checking Data types

type(2)

int

In [10]:
type(15.0)

float

In [11]:
type('man')

str

In [12]:
type(True)

bool

In [13]:
5.0
str(5.0)

'5.0'

Concatenation

In [14]:
'This is good gpa ' + str(3.60)

'This is good gpa 3.6'

In [15]:
int(8.9)

8

Variables

In [16]:
 a = 50
 b = 20

a+b

70

In [17]:
2*a + 3*(b**2)

1300

In [18]:
age = 45
monday = 'is a holiday'

story = 'kofi is ' + str(age) + ' years and today ' + monday

print(story)

kofi is 45 years and today is a holiday

In [19]:
title = ' This is an introduction course to python'

print(title)

 This is an introduction course to python

Python Strings

In [20]:
about_zion = 'my name is zion bonzo and I am learning data analysis with python'

In [21]:
len(about_zion)

65

In [22]:
about_zion.title()

'My Name Is Zion Bonzo And I Am Learning Data Analysis With Python'

In [23]:
about_zion.upper()

'MY NAME IS ZION BONZO AND I AM LEARNING DATA ANALYSIS WITH PYTHON'

In [24]:
about_zion.lower()

'my name is zion bonzo and i am learning data analysis with python'

In [25]:
about_zion.capitalize()

'My name is zion bonzo and i am learning data analysis with python'

In [26]:
about_zion.count('i')

5

In [27]:
print(about_zion.split(' '))

['my', 'name', 'is', 'zion', 'bonzo', 'and', 'I', 'am', 'learning', 'data', 'analysis', 'with', 'python']

Python Data Structures

In [28]:
# PYTHON LISTS

list_take_any_data_type = [5, 2.6, 'man',True, "king"]

data_tools = ['Excel', 'Python', 'Tableau', 'Power BI','Domo', 'Google Sheet']

numbers = [-8,-75, 85,15,8.0, 62,70,40,35,56,89]

string = ['man','girl','boy','woman','gender']

In [29]:
print(data_tools)

['Excel', 'Python', 'Tableau', 'Power BI', 'Domo', 'Google Sheet']

In [30]:
#upating/modifying list

numbers[0] = 5
numbers[1] = 10

print(numbers)

[5, 10, 85, 15, 8.0, 62, 70, 40, 35, 56, 89]

In [31]:
data_tools[2]    #indexing

'Tableau'

In [32]:
numbers[0]

5

In [33]:
string[2]

'boy'

In [34]:
string[2] = 'boys'

In [35]:
string[1] = 'girls'
string[0] = 'men'
string[3] = 'women'

In [36]:
print(string)

['men', 'girls', 'boys', 'women', 'gender']

In [37]:
# Slicing lists

numbers[2:6]

[85, 15, 8.0, 62]

In [38]:
numbers[4:]

[8.0, 62, 70, 40, 35, 56, 89]

In [39]:
numbers[:3]

[5, 10, 85]

In [40]:
numbers[1:11:3]

[10, 8.0, 40, 89]

List Methods

In [41]:
print(data_tools)

['Excel', 'Python', 'Tableau', 'Power BI', 'Domo', 'Google Sheet']

In [42]:
data_tools.append('Spss')

In [43]:
data_tools.insert(6,'Stata')

In [44]:
print(data_tools)

['Excel', 'Python', 'Tableau', 'Power BI', 'Domo', 'Google Sheet', 'Stata', 'Spss']

In [45]:
data_tools.pop()

'Spss'

In [46]:
print(data_tools)

['Excel', 'Python', 'Tableau', 'Power BI', 'Domo', 'Google Sheet', 'Stata']

In [47]:
numbers.sort()
print(numbers)

[5, 8.0, 10, 15, 35, 40, 56, 62, 70, 85, 89]

In [48]:
numbers.extend(string)

In [49]:
print(numbers)

[5, 8.0, 10, 15, 35, 40, 56, 62, 70, 85, 89, 'men', 'girls', 'boys', 'women', 'gender']

In [50]:
numbers.reverse()

In [51]:
print(numbers)

['gender', 'women', 'boys', 'girls', 'men', 89, 85, 70, 62, 56, 40, 35, 15, 10, 8.0, 5]

In [52]:
numbers.remove('gender')

In [53]:
print(numbers)

['women', 'boys', 'girls', 'men', 89, 85, 70, 62, 56, 40, 35, 15, 10, 8.0, 5]

In [54]:
string.clear()

In [55]:
string

[]

In [56]:
#Python Functions

In [57]:
whole = [25,62,74,56,12,45]

In [58]:
min_value = min(whole)
min_value

12

In [59]:
max_value = max(whole)
max_value

74

In [60]:
count = len(whole)
count

6

In [61]:
total = sum(whole)
total

274

In [62]:
mean_value = total / count

print('Mean is :',int(mean_value))

Mean is : 45

PYTHON TUPLES

In [63]:
my_tuple = (25,55,16.7,85,100,120,12)
mt = ('man is good', 'Jesus is lord', 'I will be great')

In [64]:
print(mt)

('man is good', 'Jesus is lord', 'I will be great')

In [65]:
sorted(my_tuple)

[12, 16.7, 25, 55, 85, 100, 120]

In [66]:
#slicing tuples

my_tuple[1:3]

(55, 16.7)

In [67]:
# Unpacking Tuples - converting tuples to different variables

a,b, c = mt

In [68]:
print(a)
print(b)
print(c)

man is good
Jesus is lord
I will be great

PYTHON DICTIONARIES

In [69]:
Data = {'Excel':'Microsoft','Google':'Spreedsheet','Power BI':'Microsoft','Iphone':'Apple','Macbook':'Apple', 'Tableau':'Business Intelligence'}

In [70]:
Data

{'Excel': 'Microsoft',
 'Google': 'Spreedsheet',
 'Power BI': 'Microsoft',
 'Iphone': 'Apple',
 'Macbook': 'Apple',
 'Tableau': 'Business Intelligence'}

In [71]:
#Accessing dictionaries

Data['Excel']

'Microsoft'

In [72]:
Data.get("Iphone")

'Apple'

In [73]:
# Updating and modifying dictinaries

In [74]:
Data['Spss'] = 'Statistical tool'

In [75]:
Data['SQL'] = 'Database tool'

In [76]:
print(Data)

{'Excel': 'Microsoft', 'Google': 'Spreedsheet', 'Power BI': 'Microsoft', 'Iphone': 'Apple', 'Macbook': 'Apple', 'Tableau': 'Business Intelligence', 'Spss': 'Statistical tool', 'SQL': 'Database tool'}

In [77]:
Data['Power BI']= "Microsoft Tool"
Data['Google'] = 'Google Sheets'

In [78]:
Data

{'Excel': 'Microsoft',
 'Google': 'Google Sheets',
 'Power BI': 'Microsoft Tool',
 'Iphone': 'Apple',
 'Macbook': 'Apple',
 'Tableau': 'Business Intelligence',
 'Spss': 'Statistical tool',
 'SQL': 'Database tool'}

In [79]:
# combining two dictionaries into one

Tools = {'Power Query': 'Excel', 'Power Pivot':"Excel", 'Pandas':'Python'}

In [80]:
Data.update(Tools)

In [81]:
Data

{'Excel': 'Microsoft',
 'Google': 'Google Sheets',
 'Power BI': 'Microsoft Tool',
 'Iphone': 'Apple',
 'Macbook': 'Apple',
 'Tableau': 'Business Intelligence',
 'Spss': 'Statistical tool',
 'SQL': 'Database tool',
 'Power Query': 'Excel',
 'Power Pivot': 'Excel',
 'Pandas': 'Python'}

In [82]:
# Dictionary Methods

Data.pop('Power Pivot')

'Excel'

In [83]:
print(Data)

{'Excel': 'Microsoft', 'Google': 'Google Sheets', 'Power BI': 'Microsoft Tool', 'Iphone': 'Apple', 'Macbook': 'Apple', 'Tableau': 'Business Intelligence', 'Spss': 'Statistical tool', 'SQL': 'Database tool', 'Power Query': 'Excel', 'Pandas': 'Python'}

In [84]:
Data.keys()

dict_keys(['Excel', 'Google', 'Power BI', 'Iphone', 'Macbook', 'Tableau', 'Spss', 'SQL', 'Power Query', 'Pandas'])

In [85]:
Data.values()

dict_values(['Microsoft', 'Google Sheets', 'Microsoft Tool', 'Apple', 'Apple', 'Business Intelligence', 'Statistical tool', 'Database tool', 'Excel', 'Python'])

In [86]:
Data.items()

dict_items([('Excel', 'Microsoft'), ('Google', 'Google Sheets'), ('Power BI', 'Microsoft Tool'), ('Iphone', 'Apple'), ('Macbook', 'Apple'), ('Tableau', 'Business Intelligence'), ('Spss', 'Statistical tool'), ('SQL', 'Database tool'), ('Power Query', 'Excel'), ('Pandas', 'Python')])

In [87]:
# dictionary functions
ghana_popul = {'Accra': 15000,'Kumasi':14500,'Kasoa':12050,'Tarkwa': 9000,"Ho": 8500, 'Takoradi': 11500}

In [88]:
sorted(ghana_popul)

['Accra', 'Ho', 'Kasoa', 'Kumasi', 'Takoradi', 'Tarkwa']

In [89]:
min(ghana_popul)

'Accra'

In [90]:
min(ghana_popul.values())

8500

In [91]:
max(ghana_popul.values())

15000

In [92]:
print(max(ghana_popul,key=ghana_popul.get),max(ghana_popul.values()))

Accra 15000

# Conditional Statments

In [93]:
# the If Statement

In [94]:
gender = 'boy'

if gender == 'boy':
    print('This is a boy')

This is a boy

In [95]:
mark = 65

if mark >= 60:
    print('pass mark')

pass mark

In [96]:
#logical operators with else and elif

location = 'Accra'
name = ['Zion','David','James']

if 'James' in name or location == 'Kumasi':
    print("Yes")

Yes

In [97]:
if 'Zion' in name and location == 'Accra':
    print("Yes")

Yes

In [98]:
if 'John' in name:
    print('is a student')
else:     
    print("not a student")

not a student

In [104]:
exams_score = 65
mid_term_score = 0

if exams_score >= 80:
    print('Grade;''A')
    
elif exams_score >= 70:
    print('Grade;','B')

elif exams_score >= 60:
    print('Grade;','C')
    
elif mid_term_score == 30:
    print('pass')
    
else:
    print('Fail')

Grade; C

Task 1

In [105]:
# Grade Calculator

In [107]:
def calculate_grade(score):
    # Write your conditional statements here to calculate the grade
    if score >= 90:
        grade = "A"
    elif score >= 80:
        grade = "B"
    elif score >= 70:
        grade = "C"
    elif score >= 60:
        grade = "D"
    else:
        grade = "F"
    
    return grade

# Get input from the user
try:
    score = float(input("Enter the student's score (out of 100): "))
    if 0 <= score <= 100:
        grade = calculate_grade(score)
        print(f"The student's grade is: {grade}")
    else:
        print("Please enter a valid score between 0 and 100.")
except ValueError:
    print("Invalid input. Please enter a numerical value.")

Enter the student's score (out of 100): 90
The student's grade is: A